@keyframes error {
  0% {
    border: 1px solid #d0d0d0;
  }

  25% {
    border: 1px solid red;
    transform: translateY(-5px);
  }

  30% {
    border: 1px solid red;
    transform: translateY(5px);
    background-color: red;
  }

  45% {
    border: 1px solid red;
    transform: translateY(-5px);
  }

  60% {
    border: 1px solid red;
    transform: translateY(5px);
  }

  100% {
    border: 1px solid #d0d0d0;
  }
}

/* Container geral */
.painelContainer {
  /* max-width: 900px; */
  width: 100%;
  margin: auto;
  /* padding: 40px 20px; */
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-family: "Delius", cursive;
  background: rgba(15, 23, 42, 0.85);
  background-image: url("/public/walpaper.png");
  background-size: cover; /* cover | contain | auto */
  background-repeat: no-repeat; /* no-repeat | repeat */
  background-position: center; /* center | top | bottom | left | right */
  /* background-image: linear-gradient(135deg, #0f2027, #203a43, #196d91); */
  padding-bottom: 2vw;
}

/* Título principal */
.tituloPainel {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding-top: 2vw;
  padding-bottom: 2vw;
  color: white;
}

/* Cards */
.cardFiltros,
.cardPrompt {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
}

.cardPrompt {
  margin-bottom: 0;
  padding-bottom: 2vw;
}

/* Título da seção */
.tituloSessao {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Item de filtro */
.filtroItem {
  margin-bottom: 25px;
}

/* .filtroItemEfeito{
  background-image: linear-gradient(135deg, #0f2027, #203a43, #196d91);
  margin-bottom: 25px;
} */

.filtroItem label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  border-bottom: 1px solid #4e73df;
  border-radius: 10px;
  padding: 5px;
  color: #274fc7;
}

/* Inputs */
.inputSelect,
.inputText {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  transition: 0.2s ease;
}

.inputSelect:focus,
.inputText:focus {
  border-color: #4e73df;
  outline: none;
}

.inputSelect option {
  background-color: #d0d0d04b;
}

/* Checkbox */
.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
  border-radius: 5px;
  background-image: linear-gradient(135deg, #0d0320, #200257, #0d0320);
  color: white;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkboxItem p {
  border: 1px solid red;
  background-color: red;
}

/* Instrumentos */
.instrumentosLista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.instrumentoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 6px;
}

.btnRemover {
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.btnRemover:hover {
  background: #d93636;
}

.addInstrumento {
  display: flex;
  gap: 10px;
}

/* Botão adicionar */
.btnAdicionar {
  background: #4e73df;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnAdicionar:nth-child(3) {
  background: #dfc54e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnAdicionar:hover {
  background: #3a5dca;
  cursor: pointer;
}

.btnAdicionar:nth-child(3):hover {
  background: #c9a711;
  cursor: pointer;
}

/* Botões Gerar e Limpar */

.d_buttons {
  display: flex;
  width: 80%;
  margin: auto;
}

.btnGerar {
  margin-top: 10px;
  margin: 1vw;
  width: 100%;
  padding: 14px;
  background: #1cc88a;
  box-shadow: 0 0 22px rgba(34, 197, 94, 0.6);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnClear {
  margin-top: 10px;
  margin: 1vw;
  width: 100%;
  padding: 14px;
  background: #c9a711;
  box-shadow: 0 0 22px rgba(250, 204, 21, 0.6);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnGerar:hover {
  background: #17a673;
}

.btnClear:hover {
  background: #dae904;
}

/* Área do prompt */
.textareaPrompt {
  width: 95%;
  padding: 15px;
  resize: vertical;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  background: #fafafa;
}

.textareaPrompt:focus {
  border-color: #4e73df;
  outline: none;
}

.timeMusic {
  width: 30%;
  /* width: 100%; */
  padding: 16px;
  border-radius: 12px;
  /* background: rgba(15, 23, 42, 0.85); */
    background-image: linear-gradient(135deg, #0d0320, #200257, #0d0320);
  border: 1px solid rgba(148, 163, 184, 0.3);
  color: #e5e7eb;
}

.timeMusic input {
  margin-top: 2vw;
  width: 70%;
}

.failure {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ff0000;
  font-size: 16px;
  transition: 0.2s ease;

  animation: error 0.6s ease-in-out;
  border-color: #ef4444 !important;
  box-shadow: 0 0 18px rgba(239, 68, 68, 0.7);
}
